langchain
#openai==0.27.0
openai==1.2.4
PyPDF2
faiss-cpu
tiktoken
chromadb
python-dotenv==1.0.0
fastapi==0.98.0
anyio==3.7.0
uvicorn==0.22.0
psycopg2
python-multipart==0.0.6
supabase==1.1.0
boto3==1.28.57
pandas
scikit-learn
openpyxl
xlrd
psutil
# torch
# transformers==4.35.0
# diffusers==0.21.4
# accelerate== 0.24.1
# xformers==0.0.22.post7
opencv-python
ghostscript
colormath
pillow
together
reportlab
pdf2image
# sentence-transformers==2.2.2
